@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;

500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  width: 100%;
  font-size: 16px;
  font-family: var(--font-family);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  background-color: #F8F1E2;
  padding: 50px 0;
}

:root {
  --color-beige: #e3cea3;
  --color-dark-beige: #9E7B56;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-green: #9fc460;
  --font-family: "inter", sans-serif;
}

.container {
  max-width: 1220px;
  min-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  display: flex;
  width: 100%;
  height: 830px;
  background-image: url("/img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__location {
  display: none;
  visibility: hidden;
}

.header {
  max-width: 350px;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(227, 206, 163, 0.448) 0%, rgba(11, 53, 29, 0) 99.03%), #0B351D;
  opacity: 0.9;
  font-family: var(--font-family);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
  margin-right: 80px;
}

.header__logo {
  display: block;
  max-width: 223px;
  width: 100%;
  margin-bottom: 5rem;
}

.header__nav {
  color: var(--color-beige);
  margin-bottom: 3rem;
}

.header__video {
  display: flex;
  flex-direction: column;
  padding-left: 2.3rem;
  margin-bottom: 3rem;
}

.header__video-link {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-light-green);
  line-height: 2.2rem;
  position: relative;
  margin-bottom: 10px;
}

.header__video-link:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: -33px;
  width: 23px;
  height: 21px;
  padding-left: 10px;
}

.header__video-link.online:before {
  background-image: url("/img/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__video-link.tour:before {
  background-image: url("/img/360.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__phone {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.header__phone-number {
  color: var(--color-beige);
  font-size: 2.2rem;
  line-height: 2.5rem;
}

.header__phone-callback {
  color: var(--color-light-green);
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.header__button {
  max-width: 179px;
  width: 100%;
  height: 50px;
  background-color: var(--color-beige);
  align-items: center;
  display: flex;
  justify-content: center;
}

.header__button-link {
  color: var(--color-black);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.header__mobile {
  display: none;
  visibility: hidden;
}

.header__mobile.open {
  display: flex;
  visibility: visible;
  width: 100%;
  height: 100vh;
  background-color: #0b351d;
  position: absolute;
  top: 85px;
  padding: 60px 60px 120px;
}

.header__mobile.open .header__nav {
  display: flex;
  margin-right: 40px;
}

.header__mobile.open .header__nav .nav__list-item {
  padding: 6px 0;
}

.header__mobile.open .header__video {
  display: flex;
  padding-left: 2.6rem;
}

.header__mobile.open .header__second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__mobile.open .hero__location {
  margin: 0;
}

.nav__list-link {
  color: var(--color-beige);
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 3rem;
  margin-bottom: 7px;
}

.hero__block {
  margin-top: 445px;
  max-width: 440px;
}

.hero__block-text {
  color: var(--color-white);
}

.hero__block-start {
  color: var(--color-beige);
  font-size: 5.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 7rem;
}

.hero__block-title {
  font-size: 4rem;
  font-weight: 500;
}

.hero__block-title span {
  font-size: 5.2rem;
  font-weight: 600;
}

.hero__block-subtitle {
  font-size: 3rem;
  font-weight: 300;
}

.location {
  display: flex;
  padding: 59px 0 59px 32px;
}

.location__map {
  display: flex;
  padding-right: 56px;
}

.location__map-img {
  width: 37px;
  height: 37px;
  margin-right: 14px;
}

.location__map-text {
  color: var(--color-dark-beige);
  font-weight: 600;
  padding-right: 20px;
}

.metro {
  width: 100%;
  max-width: 794px;
}

.metro__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.metro__item {
  display: flex;
}

.metro__item-img {
  width: 37px;
  height: 37px;
  margin-right: 15px;
}

.metro__item-text {
  font-weight: 600;
  line-height: 21px;
}

.metro__item-text span {
  color: var(--color-dark-beige);
  display: inline-block;
  margin-right: 7px;
}

.metro__item-time {
  display: flex;
  align-items: center;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__pictures {
  display: flex;
  background-color: #0B351D;
  height: 395px;
  position: relative;
  margin-bottom: 59px;
}

.advantages__pictures:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: -18px;
  background-image: url("/img/green-block.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 89%;
}

.advantages__pictures-green {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 620px;
  padding-top: 7rem;
  padding-left: 11.4rem;
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--color-beige);
}

.advantages__pictures-green img {
  width: 79px;
  margin-bottom: 24px;
}

.advantages__pictures-green span {
  width: 70%;
  z-index: 3;
}

.advantages__pictures-city {
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.advantages__pictures-city img {
  max-width: 100%;
}

.advantages__text {
  margin-bottom: 65px;
}

.advantages__text-bold {
  margin-bottom: 30px;
  line-height: 30px;
}

.advantages__text-content {
  font-weight: 300;
  line-height: 28px;
  font-size: 18px;
}

.photos {
  margin-bottom: 95px;
}

.photos__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 310px);
  grid-template-areas: "apparts apparts cars school" "security ecology ecology school";
  font-size: 20px;
}

.photos__item {
  padding-left: 35px;
}

.photos__item.apparts {
  grid-area: apparts;
  background-image: url("/img/01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photos__item.no-cars {
  grid-area: cars;
  background-image: url("/img/02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photos__item.school {
  grid-area: school;
  background-image: url("/img/03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photos__item.school span {
  margin-top: 540px;
}

.photos__item.security {
  grid-area: security;
  background-image: url("/img/04.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photos__item.ecology {
  grid-area: ecology;
  background-image: url("/img/05.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photos__item span {
  color: var(--color-white);
  margin-top: 230px;
  display: block;
}

.information {
  margin-bottom: 240px;
}

.information__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.information__item {
  display: flex;
}

.information__item-img {
  width: 49px;
  margin: 0 18px 0 0;
}

.information__item-text {
  padding: 6px 0;
  font-size: 14px;
  font-weight: 600;
}

.information__item-text span {
  display: inline-block;
  margin-bottom: 5px;
  color: var(--color-dark-beige);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.footer__social {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.footer__social img {
  width: 24px;
}

.footer__button {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  padding: 19px 25px;
  background-color: var(--color-beige);
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1154px;
  }

  .advantages__pictures {
    height: 360px;
  }

  .advantages__pictures:before {
    left: 0;
  }

  .advantages__text-bold {
    margin-bottom: 20px;
  }

  .information__list {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 1152px) {
  .container {
    max-width: 1012px;
  }

  .hero {
    height: 675px;
  }

  .hero__block {
    margin-top: 396px;
  }

  .hero__block-start {
    font-size: 4rem;
    line-height: 5rem;
  }

  .hero__block-title {
    font-size: 3rem;
  }

  .hero__block-title span {
    font-size: 4rem;
  }

  .hero__block-subtitle {
    font-size: 2rem;
  }

  .header {
    max-width: 310px;
  }

  .header__logo {
    max-width: 170px;
    margin-bottom: 3rem;
  }

  .header__logo img {
    width: 170px;
  }

  .header__video {
    margin-bottom: 1.5rem;
  }

  .header__phone {
    margin-bottom: 2rem;
  }

  .location__map-text {
    width: 272px;
  }

  .advantages__pictures {
    height: 314px;
  }

  .advantages__pictures-green {
    font-size: 3rem;
  }

  .advantages__text-bold {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 860px) {
  html {
    font-size: 9px;
  }

  .container {
    max-width: 655px;
  }

  .hero {
    flex-direction: column;
    height: 520px;
  }

  .hero__block {
    margin-top: 150px;
    margin-left: 50px;
    margin-bottom: 15px;
  }

  .hero__location {
    display: flex;
    margin-left: 24px;
    visibility: visible;
  }

  .hero__location-img {
    width: 20px;
    margin-right: 12px;
  }

  .hero__location-img svg {
    fill: var(--color-beige);
  }

  .hero__location-text {
    max-width: 375px;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-beige);
    display: flex;
    align-items: center;
  }

  .header {
    max-width: 100%;
    height: 86px;
    background: #0B351D;
    opacity: 1;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0 56px;
  }

  .header__logo {
    margin: 0;
  }

  .header__logo img {
    width: 97px;
  }

  .header__nav,
  .header__video {
    margin: 0;
    display: none;
  }

  .header__phone {
    margin-bottom: 0px;
    margin-right: 2rem;
  }

  .header__button {
    height: 40px;
  }

  .header__burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 5;
    background-color: var(--color-light-green);
  }

  .header__burger span {
    height: 2px;
    width: 18px;
    background-color: var(--color-black);
    position: absolute;
    top: 19px;
    left: 11px;
  }

  .header__burger span:after,
  .header__burger span:before {
    content: " ";
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: var(--color-black);
  }

  .header__burger span:after {
    bottom: -5px;
  }

  .header__burger span:before {
    top: -5px;
  }

  .header__burger.open span {
    background-color: var(--color-light-green);
  }

  .header__burger.open span:before {
    transform: rotate(45deg);
    top: 0;
  }

  .header__burger.open span:after {
    transform: rotate(-45deg);
    top: 0;
  }

  .location__map {
    display: none;
  }

  h3 .advantages__text-bold {
    margin-bottom: 1.5rem;
  }

  .advantages__pictures {
    height: 249px;
  }

  .advantages__pictures-city img {
    height: 100%;
  }

  .advantages__pictures-green {
    padding-top: 5rem;
    padding-left: 4.4rem;
  }

  .advantages__pictures-green img {
    width: 49px;
  }

  .advantages__pictures-green span {
    width: 78%;
    font-size: 2rem;
  }

  .photos__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 310px);
    grid-template-areas: "apparts apparts" "ecology ecology" "cars school" "security  school";
    font-size: 20px;
  }

  .information__item-img {
    width: 40px;
  }

  .footer__text {
    font-size: 11px;
    max-width: 200px;
  }

  .footer__social {
    width: 100px;
  }

  .footer__button {
    font-size: 10px;
  }
}

@media only screen and (max-width: 670px) {
  .container {
    max-width: 97%;
  }

  .header__phone {
    display: none;
  }
}

@media only screen and (max-width: 545px) {
  html {
    font-size: 7px;
  }

  .container {
    max-width: 300px;
  }

  .hero {
    height: 583px;
  }

  .header {
    padding: 0 25px;
  }

  .header__logo {
    max-width: 100px;
  }

  .header__button {
    max-width: 134px;
  }

  .header__phone {
    display: none;
  }

  .header__mobile.open {
    height: 89vh;
  }

  .location {
    padding: 60px 0;
  }

  .metro__list {
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
  }

  .metro__item {
    margin: 20px 0;
  }

  .advantages__pictures {
    flex-direction: column-reverse;
    height: 498px;
  }

  .advantages__pictures:before {
    bottom: -39px;
  }

  .advantages__pictures-city {
    height: 50%;
  }

  .advantages__pictures-city img {
    width: 100%;
  }

  .advantages__pictures-green {
    height: 50%;
  }

  .advantages__pictures-green img {
    margin-left: 3rem;
    z-index: 6;
  }

  .advantages__pictures-green span {
    width: 80%;
    font-size: 3rem;
    margin: 0 auto;
  }

  .photos__list {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(5, 210px);
    grid-template-areas: "apparts" "ecology" "cars" "security" "school";
    font-size: 20px;
  }

  .photos__item span {
    margin-top: 130px;
  }

  .photos__item.school span {
    margin-top: 130px;
  }

  .information {
    margin-bottom: 100px;
  }

  .information__list {
    flex-wrap: wrap;
  }

  .information__item {
    width: 120px;
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer__text {
    margin-bottom: 10px;
  }

  .footer__social {
    margin-bottom: 10px;
  }
}